<section>
  <div>
    <h4>“Excuse me. I’d like to “ass” you a few questions.” – Ace Ventura</h4>
    <a href={{toPurchase}}> <button> Purchase your carrito </button></a>
    <img src="https://wallpaperaccess.com/full/2162194.jpg" alt="" style="max-width: 500px" />
  </div>
  <nav>
    <div class="infoContainer">
      <div class="linksContainer">
        <h5>Start here mate'</h5>
        <a href={{toLogin}}> <button> Login </button></a>
        <a href={{toRegister}}> <button> Register </button></a>
      </div>
    </div>
    <div class="infoContainer">
      <div class="linksContainer">
        <a href={{toMockingProducts}}> <button> Mock This! </button></a>
        <h6>Users:</h6>
        <a href={{toProducts}}> <button> View Products </button></a>
        <a href={{toChat}}> <button> View Chat </button></a>
        <a href={{toProfile}}> <button> View Safe DTO Profile </button></a>
        <a href={{toCarts}}> <button> View Carts </button></a>
        <h6>Admin:</h6>
        <a href={{toCurrent}}> <button> View Current Session </button></a>
        <a href={{toAdmin}}> <button> Admin Panel</button></a>

      </div>
    </div>
    <div class="infoContainer">
      <div class="linksContainer">
        <h5>Did i tell you about the time that i...</h5>
        <a href="https://www.youtube.com/watch?v=BF16eA7sdqo"> <button> entered the rhino realm?</button></a>
        <a href="https://www.youtube.com/watch?v=dfSoUYr4lmQ"> <button> almost dodge a spear? </button></a>
      </div>
    </div>
  </nav>
</section>